.app {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
}

.header-left .logo {
  font-size: 1.5rem;
}

.header-center a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.header-center a:hover {
  text-decoration: underline;
}

.header-right {
  display: flex;
  align-items: center;
}

.like-icon {
  font-size: 1.5rem;
  margin-right: 5px;
}

.like-count {
  font-size: 1.2rem;
}

.movies-container {
  margin-top: 20px;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:30px;
  margin-top: 30px;
  margin-left: 60px;
}
